@*@model string*@
<div class="container" style="width:70%; padding-left:50px; float:left">
 <form method="post">
 <h3>Add a new role</h3>
 <input type="text" id="roleName" name="roleName" value="">
        <button type="submit" class="btn btn-secondary btn-md">Submit</button>
 </form>

<br /><br /><br />
<div>
    <a href="AdminPages" class="btn btn-link btn-lg" role="button">Back</a>
</div>
</div>